div.col {
    padding: 0;
}

.body-0 {
    text-align: center;
    background-image: url("ciudad.jpeg");
    height:600px;
    padding-top: 60px;
}

 p {
    font-size: 100px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.frase2 {
    font-size: 65px;
}