.body-0 {
    text-align: center;
    background-image: url("ciudad.jpeg");
    height:500px;
}

.body-0 h1 {
    font-size: 100px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.body-0 h2 {
    font-size: 75px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}